# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.pdf*.png
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
lightning_logs

lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706962619262827000.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706963115919784100.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706963430144825300.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706982934834162200.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706983013711363100.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706984672027493400.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706984695898279700.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706985160247416500.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706985544741306200.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706985622216527000.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706985918166828400.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706986609838137200.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706986741678355400.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.validation_step.1706961882216517100.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.validation_step.1706963247804454300.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.validation_step.1706963609945854900.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.validation_step.1706984704931952800.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.validation_step.1706985169978188300.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.validation_step.1706985554402579000.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.validation_step.1706985633074492500.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.validation_step.1706985950880179800.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.validation_step.1706986645560528900.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.validation_step.1706986777979042000.pt.trace.json
lightning_logs/FullCNN/version_0/events.out.tfevents.1706961736.JulianPC.6436.0
lightning_logs/FullCNN/version_0/hparams.yaml
lightning_logs/FullCNN/version_0/checkpoints/epoch=0-step=20000-val_loss=0.05941792.ckpt
lightning_logs/FullCNN/version_0/checkpoints/epoch=1-step=40000-val_loss=0.05281514.ckpt
lightning_logs/FullCNN/version_0/checkpoints/epoch=2-step=60000-val_loss=0.04726544.ckpt
lightning_logs/FullCNN/version_0/checkpoints/epoch=3-step=80000-val_loss=0.04260305.ckpt
lightning_logs/FullCNN/version_0/checkpoints/epoch=4-step=100000-val_loss=0.03865505.ckpt
lightning_logs/FullCNN/version_2/events.out.tfevents.1706984687.JulianPC.43480.0
lightning_logs/FullCNN/version_2/hparams.yaml
lightning_logs/FullCNN/version_2/checkpoints/epoch=1-step=2500-val_loss=0.00067669.ckpt
lightning_logs/FullCNN/version_2/checkpoints/epoch=9-step=12500-val_loss=0.00067362.ckpt
lightning_logs/FullCNN/version_2/checkpoints/epoch=10-step=13750-val_loss=0.00067734.ckpt
lightning_logs/FullCNN/version_2/checkpoints/epoch=11-step=15000-val_loss=0.00066759.ckpt
lightning_logs/FullCNN/version_2/checkpoints/epoch=15-step=20000-val_loss=0.00065950.ckpt
lightning_logs/FullCNN/version_3/events.out.tfevents.1706985115.JulianPC.50412.0
lightning_logs/FullCNN/version_3/hparams.yaml
lightning_logs/FullCNN/version_4/events.out.tfevents.1706985153.JulianPC.8800.0
lightning_logs/FullCNN/version_4/hparams.yaml
lightning_logs/FullCNN/version_4/checkpoints/epoch=2-step=3750-val_loss=0.00077996.ckpt
lightning_logs/FullCNN/version_4/checkpoints/epoch=3-step=5000-val_loss=0.00071629.ckpt
lightning_logs/FullCNN/version_4/checkpoints/epoch=4-step=6250-val_loss=0.00068616.ckpt
lightning_logs/FullCNN/version_4/checkpoints/epoch=5-step=7500-val_loss=0.00071795.ckpt
lightning_logs/FullCNN/version_4/checkpoints/epoch=6-step=8750-val_loss=0.00070149.ckpt
lightning_logs/FullCNN/version_6/events.out.tfevents.1706985614.JulianPC.13268.0
lightning_logs/FullCNN/version_6/hparams.yaml
lightning_logs/FullCNN/version_6/checkpoints/epoch=0-step=1250-val_loss=0.00078775.ckpt
lightning_logs/FullCNN/version_6/checkpoints/epoch=3-step=5000-val_loss=0.00116453.ckpt
lightning_logs/FullCNN/version_6/checkpoints/epoch=7-step=10000-val_loss=0.00207200.ckpt
lightning_logs/FullCNN/version_6/checkpoints/epoch=10-step=13750-val_loss=0.00195256.ckpt
lightning_logs/FullCNN/version_6/checkpoints/epoch=11-step=15000-val_loss=0.00165503.ckpt
lightning_logs/FullCNN/version_7/events.out.tfevents.1706985910.JulianPC.49852.0
lightning_logs/FullCNN/version_7/hparams.yaml
lightning_logs/FullCNN/version_7/checkpoints/epoch=0-step=5000-val_loss=0.00170295.ckpt
lightning_logs/FullCNN/version_7/checkpoints/epoch=2-step=15000-val_loss=0.00295367.ckpt
lightning_logs/FullCNN/version_7/checkpoints/epoch=5-step=30000-val_loss=0.00283055.ckpt
lightning_logs/FullCNN/version_7/checkpoints/epoch=7-step=40000-val_loss=0.00259982.ckpt
lightning_logs/FullCNN/version_7/checkpoints/epoch=9-step=50000-val_loss=0.00268561.ckpt
lightning_logs/FullCNN/version_8/events.out.tfevents.1706986602.JulianPC.39048.0
lightning_logs/FullCNN/version_8/hparams.yaml
lightning_logs/FullCNN/version_8/checkpoints/epoch=0-step=5000-val_loss=nan.ckpt
lightning_logs/FullCNN/version_9/events.out.tfevents.1706990083.JulianPC.52724.0
lightning_logs/FullCNN/version_9/hparams.yaml
lightning_logs/FullCNN/version_9/checkpoints/epoch=0-step=20000-val_loss=0.03022904.ckpt
lightning_logs/version_100/events.out.tfevents.1706990001.JulianPC.37448.0
lightning_logs/version_100/hparams.yaml
lightning_logs/version_58/events.out.tfevents.1706860626.JulianPC.38800.0
lightning_logs/version_58/hparams.yaml
lightning_logs/version_58/checkpoints/epoch=10-step=880000-val_loss=0.00001.ckpt
lightning_logs/version_58/checkpoints/epoch=11-step=960000-val_loss=0.00001.ckpt
lightning_logs/version_58/checkpoints/epoch=12-step=1040000-val_loss=0.00001.ckpt
lightning_logs/version_58/checkpoints/epoch=14-step=1200000-val_loss=0.00001.ckpt
lightning_logs/version_58/checkpoints/epoch=16-step=1360000-val_loss=0.00001.ckpt
lightning_logs/version_59/events.out.tfevents.1706872989.JulianPC.44520.0
lightning_logs/version_59/hparams.yaml
lightning_logs/version_60/events.out.tfevents.1706873095.JulianPC.44864.0
lightning_logs/version_60/hparams.yaml
lightning_logs/version_61/events.out.tfevents.1706873166.JulianPC.40704.0
lightning_logs/version_61/hparams.yaml
lightning_logs/version_62/events.out.tfevents.1706873206.JulianPC.44180.0
lightning_logs/version_62/hparams.yaml
lightning_logs/version_63/events.out.tfevents.1706873243.JulianPC.46884.0
lightning_logs/version_63/hparams.yaml
lightning_logs/version_64/events.out.tfevents.1706874113.JulianPC.8588.0
lightning_logs/version_64/hparams.yaml
lightning_logs/version_64/checkpoints/epoch=0-step=20000-val_loss=0.00006.ckpt
lightning_logs/version_64/checkpoints/epoch=1-step=40000-val_loss=0.00002.ckpt
lightning_logs/version_64/checkpoints/epoch=2-step=60000-val_loss=0.00001.ckpt
lightning_logs/version_64/checkpoints/epoch=3-step=80000-val_loss=0.00001.ckpt
lightning_logs/version_64/checkpoints/epoch=4-step=100000-val_loss=0.00001.ckpt
lightning_logs/version_65/events.out.tfevents.1706874662.JulianPC.33140.0
lightning_logs/version_65/hparams.yaml
lightning_logs/version_65/checkpoints/epoch=29-step=600000-val_loss=0.00000.ckpt
lightning_logs/version_65/checkpoints/epoch=31-step=640000-val_loss=0.00000.ckpt
lightning_logs/version_65/checkpoints/epoch=34-step=700000-val_loss=0.00000.ckpt
lightning_logs/version_65/checkpoints/epoch=35-step=720000-val_loss=0.00000.ckpt
lightning_logs/version_65/checkpoints/epoch=40-step=820000-val_loss=0.00000.ckpt
lightning_logs/version_66/events.out.tfevents.1706897958.JulianPC.40096.0
lightning_logs/version_66/fit-[Strategy]SingleDeviceStrategy.training_step.1706897966812431800.pt.trace.json
lightning_logs/version_66/hparams.yaml
lightning_logs/version_67/events.out.tfevents.1706898003.JulianPC.27080.0
lightning_logs/version_67/fit-[Strategy]SingleDeviceStrategy.training_step.1706898010307209000.pt.trace.json
lightning_logs/version_67/fit-[Strategy]SingleDeviceStrategy.validation_step.1706898017099691000.pt.trace.json
lightning_logs/version_67/hparams.yaml
lightning_logs/version_67/checkpoints/epoch=0-step=625-val_loss=nan.ckpt
lightning_logs/version_68/events.out.tfevents.1706898621.JulianPC.53888.0
lightning_logs/version_68/fit-[Strategy]SingleDeviceStrategy.training_step.1706898628765217600.pt.trace.json
lightning_logs/version_68/fit-[Strategy]SingleDeviceStrategy.validation_step.1706898635689740400.pt.trace.json
lightning_logs/version_68/hparams.yaml
lightning_logs/version_68/checkpoints/epoch=188-step=118125-val_loss=0.00001.ckpt
lightning_logs/version_68/checkpoints/epoch=189-step=118750-val_loss=0.00001.ckpt
lightning_logs/version_68/checkpoints/epoch=190-step=119375-val_loss=0.00001.ckpt
lightning_logs/version_68/checkpoints/epoch=193-step=121250-val_loss=0.00001.ckpt
lightning_logs/version_68/checkpoints/epoch=195-step=122500-val_loss=0.00001.ckpt
lightning_logs/version_69/events.out.tfevents.1706900879.JulianPC.52160.0
lightning_logs/version_69/fit-[Strategy]SingleDeviceStrategy.training_step.1706900900285257100.pt.trace.json
lightning_logs/version_69/hparams.yaml
lightning_logs/version_70/events.out.tfevents.1706900988.JulianPC.40544.0
lightning_logs/version_70/hparams.yaml
lightning_logs/version_71/events.out.tfevents.1706901069.JulianPC.50184.0
lightning_logs/version_71/hparams.yaml
lightning_logs/version_72/events.out.tfevents.1706901112.JulianPC.24144.0
lightning_logs/version_72/hparams.yaml
lightning_logs/version_73/events.out.tfevents.1706901168.JulianPC.14504.0
lightning_logs/version_73/hparams.yaml
lightning_logs/version_73/checkpoints/epoch=300-step=752500-val_loss=0.00000059.ckpt
lightning_logs/version_73/checkpoints/epoch=304-step=762500-val_loss=0.00000059.ckpt
lightning_logs/version_73/checkpoints/epoch=310-step=777500-val_loss=0.00000059.ckpt
lightning_logs/version_73/checkpoints/epoch=311-step=780000-val_loss=0.00000058.ckpt
lightning_logs/version_73/checkpoints/epoch=312-step=782500-val_loss=0.00000059.ckpt
lightning_logs/version_79/events.out.tfevents.1706956574.JulianPC.36336.0
lightning_logs/version_79/hparams.yaml
lightning_logs/version_79/checkpoints/epoch=1-step=80000-val_loss=0.02953746.ckpt
lightning_logs/version_79/checkpoints/epoch=2-step=120000-val_loss=0.02884475.ckpt
lightning_logs/version_79/checkpoints/epoch=3-step=160000-val_loss=0.02768058.ckpt
lightning_logs/version_79/checkpoints/epoch=4-step=200000-val_loss=0.02665271.ckpt
lightning_logs/version_79/checkpoints/epoch=5-step=240000-val_loss=0.02552477.ckpt
lightning_logs/version_80/events.out.tfevents.1706958301.JulianPC.46296.0
lightning_logs/version_81/events.out.tfevents.1706958551.JulianPC.35684.0
lightning_logs/version_81/fit-[Strategy]SingleDeviceStrategy.training_step.1706958558201392800.pt.trace.json
lightning_logs/version_81/fit-[Strategy]SingleDeviceStrategy.validation_step.1706958578422941000.pt.trace.json
lightning_logs/version_81/hparams.yaml
lightning_logs/version_81/checkpoints/epoch=2-step=7500-val_loss=0.05264340.ckpt
lightning_logs/version_81/checkpoints/epoch=3-step=10000-val_loss=0.05192131.ckpt
lightning_logs/version_81/checkpoints/epoch=4-step=12500-val_loss=0.05239846.ckpt
lightning_logs/version_81/checkpoints/epoch=5-step=15000-val_loss=0.05296911.ckpt
lightning_logs/version_81/checkpoints/epoch=6-step=17500-val_loss=0.05431536.ckpt
lightning_logs/version_82/events.out.tfevents.1706958870.JulianPC.42508.0
lightning_logs/version_82/fit-[Strategy]SingleDeviceStrategy.training_step.1706958878051986000.pt.trace.json
lightning_logs/version_82/fit-[Strategy]SingleDeviceStrategy.validation_step.1706958895976078000.pt.trace.json
lightning_logs/version_82/hparams.yaml
lightning_logs/version_82/checkpoints/epoch=8-step=22500-val_loss=0.03124470.ckpt
lightning_logs/version_82/checkpoints/epoch=9-step=25000-val_loss=0.02595502.ckpt
lightning_logs/version_82/checkpoints/epoch=10-step=27500-val_loss=0.01807609.ckpt
lightning_logs/version_82/checkpoints/epoch=11-step=30000-val_loss=0.01132153.ckpt
lightning_logs/version_82/checkpoints/epoch=12-step=32500-val_loss=0.00856189.ckpt
lightning_logs/version_83/events.out.tfevents.1706959494.JulianPC.53620.0
lightning_logs/version_83/fit-[Strategy]SingleDeviceStrategy.training_step.1706959502225972400.pt.trace.json
lightning_logs/version_83/fit-[Strategy]SingleDeviceStrategy.validation_step.1706959520631403900.pt.trace.json
lightning_logs/version_83/hparams.yaml
lightning_logs/version_83/checkpoints/epoch=0-step=2500-val_loss=0.00089809.ckpt
lightning_logs/version_83/checkpoints/epoch=1-step=5000-val_loss=0.00196723.ckpt
lightning_logs/version_83/checkpoints/epoch=2-step=7500-val_loss=0.00102155.ckpt
lightning_logs/version_83/checkpoints/epoch=3-step=10000-val_loss=0.00300355.ckpt
lightning_logs/version_83/checkpoints/epoch=16-step=42500-val_loss=0.00271254.ckpt
lightning_logs/version_84/events.out.tfevents.1706983673.JulianPC.50612.0
lightning_logs/version_84/hparams.yaml
lightning_logs/version_85/events.out.tfevents.1706983963.JulianPC.54180.0
lightning_logs/version_85/hparams.yaml
lightning_logs/version_86/events.out.tfevents.1706984021.JulianPC.24248.0
lightning_logs/version_86/hparams.yaml
lightning_logs/version_87/events.out.tfevents.1706984173.JulianPC.44836.0
lightning_logs/version_87/hparams.yaml
lightning_logs/version_88/events.out.tfevents.1706984247.JulianPC.11068.0
lightning_logs/version_88/hparams.yaml
lightning_logs/version_89/events.out.tfevents.1706984297.JulianPC.46612.0
lightning_logs/version_89/hparams.yaml
lightning_logs/version_90/events.out.tfevents.1706984576.JulianPC.14660.0
lightning_logs/version_90/hparams.yaml
lightning_logs/version_91/events.out.tfevents.1706986311.JulianPC.33012.0
lightning_logs/version_91/hparams.yaml
lightning_logs/version_92/events.out.tfevents.1706986471.JulianPC.28976.0
lightning_logs/version_92/hparams.yaml
lightning_logs/version_93/events.out.tfevents.1706986520.JulianPC.33612.0
lightning_logs/version_93/hparams.yaml
lightning_logs/version_94/events.out.tfevents.1706987167.JulianPC.12808.0
lightning_logs/version_94/hparams.yaml
lightning_logs/version_95/events.out.tfevents.1706988319.JulianPC.27600.0
lightning_logs/version_95/hparams.yaml
lightning_logs/version_96/events.out.tfevents.1706988853.JulianPC.21700.0
lightning_logs/version_96/hparams.yaml
lightning_logs/version_97/events.out.tfevents.1706988948.JulianPC.7036.0
lightning_logs/version_97/hparams.yaml
lightning_logs/version_98/events.out.tfevents.1706989855.JulianPC.54104.0
lightning_logs/version_98/hparams.yaml
lightning_logs/version_99/events.out.tfevents.1706989878.JulianPC.46876.0
lightning_logs/version_99/hparams.yaml
runs/example_run/data/data_test1.hdf5
runs/example_run/data/data_test2.hdf5
saves/version_73/events.out.tfevents.1706901168.JulianPC.14504.0
saves/version_73/hparams.yaml
saves/version_73/checkpoints/epoch=300-step=752500-val_loss=0.00000059.ckpt
saves/version_73/checkpoints/epoch=304-step=762500-val_loss=0.00000059.ckpt
saves/version_73/checkpoints/epoch=310-step=777500-val_loss=0.00000059.ckpt
saves/version_73/checkpoints/epoch=311-step=780000-val_loss=0.00000058.ckpt
saves/version_73/checkpoints/epoch=312-step=782500-val_loss=0.00000059.ckpt
bsp_smoothness.pdf
bsp.pdf
bsp.png
demo2.pdf
demo3.pdf
demo4.pdf
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706961753919796100.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706962619262827000.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706963115919784100.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706963430144825300.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706982934834162200.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706983013711363100.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706984672027493400.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706984695898279700.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706985160247416500.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706985544741306200.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706985622216527000.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706985918166828400.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706986609838137200.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.training_step.1706986741678355400.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.validation_step.1706961882216517100.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.validation_step.1706963247804454300.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.validation_step.1706963609945854900.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.validation_step.1706984704931952800.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.validation_step.1706985169978188300.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.validation_step.1706985554402579000.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.validation_step.1706985633074492500.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.validation_step.1706985950880179800.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.validation_step.1706986645560528900.pt.trace.json
lightning_logs/fit-[Strategy]SingleDeviceStrategy.validation_step.1706986777979042000.pt.trace.json
lightning_logs/version_66/fit-[Strategy]SingleDeviceStrategy.training_step.1706897966812431800.pt.trace.json
lightning_logs/version_67/fit-[Strategy]SingleDeviceStrategy.training_step.1706898010307209000.pt.trace.json
lightning_logs/version_67/fit-[Strategy]SingleDeviceStrategy.validation_step.1706898017099691000.pt.trace.json
lightning_logs/version_68/fit-[Strategy]SingleDeviceStrategy.training_step.1706898628765217600.pt.trace.json
lightning_logs/version_68/fit-[Strategy]SingleDeviceStrategy.validation_step.1706898635689740400.pt.trace.json
lightning_logs/version_69/fit-[Strategy]SingleDeviceStrategy.training_step.1706900900285257100.pt.trace.json
lightning_logs/version_81/fit-[Strategy]SingleDeviceStrategy.training_step.1706958558201392800.pt.trace.json
lightning_logs/version_81/fit-[Strategy]SingleDeviceStrategy.validation_step.1706958578422941000.pt.trace.json
lightning_logs/version_82/fit-[Strategy]SingleDeviceStrategy.training_step.1706958878051986000.pt.trace.json
lightning_logs/version_82/fit-[Strategy]SingleDeviceStrategy.validation_step.1706958895976078000.pt.trace.json
lightning_logs/version_83/fit-[Strategy]SingleDeviceStrategy.training_step.1706959502225972400.pt.trace.json
lightning_logs/version_83/fit-[Strategy]SingleDeviceStrategy.validation_step.1706959520631403900.pt.trace.json
